[phases.setup]
nixPkgs = ['php82', 'php82Packages.composer', 'php82Extensions.pdo_mysql']

[phases.install]
cmds = [
    'composer install --no-dev --optimize-autoloader'
]

[phases.build]
cmds = [
    'php artisan config:cache',
    'php artisan route:cache',
    'php artisan view:cache',
    'chmod -R 775 storage bootstrap/cache'
]

[start]
cmd = 'sh railway-entrypoint.sh'
